<% layout('layout/page') -%>
<% block('title', 'Привет ≥︺‿︺≤'); -%>
<% block('header', "<p>I'm in the header.</p>") -%>
	<% block('footer', "<p>footer </br> http://127.0.0.1:3000/users </br> http://127.0.0.1:3000/user/59ea426d5f7a6f2e3078fd53 </br> !!!ОШИБКА http://127.0.0.1:3000/user/59ea426.</p>") -%>

<p class="lead">Всем привет!</p>
