<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav">
    <li><a href="/">Главная</a></li>
    <% if (user) { %>
    <li><a href="/chat">Чат</a></li>
    <% } %>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <% if (user) { %>
 <form method=POST action="/logout">
  <p><input type="submit" Value="Выйти"></p>
 </form>
    <% } else { %>
     <form method=GET action="/login">
      <p><input type="submit" Value="Войти"></p>
     </form>
    <% } %>
  </ul>
</nav>