<!DOCTYPE html>
<html>
    <head>
        <title><%- @title %></title>
    </head>
    <body>
        <header><% content 'header' %></header>
        
		<section class="container">
            <% include 'include/topNavigation' %>
		</section>
        <% content %>
        <footer>
		   <% include 'include/footer', { customVar: 'Hello, World!!!!!!!!!!!!!!' }  %>
		</footer>
    </body>
</html>



